<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dave Drive</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <div class="d-flex justify-content-around">
      <button type="button" class="btn btn-primary mr-2" [routerLink]="['/login']">Log in</button>
      <button type="button" class="btn btn-primary rou" [routerLink]="['/singup']">Sing up</button>
    </div>
  </div>
</nav>
