<app-header></app-header>
<p>esta pagina es visible tanto para usuarios no logeados como para usuarios logeados entonces dado cualquier caso se mostraran los datos del usuario o los botones</p>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="container d-flex justify-content-center">
        <h2 class="card-title">Publicacion</h2>
      </div>
      <div class="d-flex justify-content-center mb-2">
        <p class="card-text">
          Papelera de reciclaje
        </p>
      </div>
      <div class="d-flex justify-content-center flex-column">
          <div class="d-flex justify-content-center">
            <p>los datos y boton para descargar el archivo</p>
          </div>
          <div class="d-flex justify-content-center flex-column">
            <p>comentarios</p>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>