<app-header></app-header>
<p>estas son paginas que solo serán visibles para cuando el usuario esté logeado El app header cambiará a mostrar el nombre de usuario y el boton de logout</p>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="container d-flex justify-content-center">
        <h2 class="card-title">Papelera</h2>
      </div>
      <div class="d-flex justify-content-center mb-2">
        <p class="card-text">
          Papelera de reciclaje
        </p>
      </div>
      <div class="container d-flex justify-content-center">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>